.account {
    margin-bottom: 20px;
    color: rgb(15,46,83) !important;
    background-color: rgb(244,176,4) !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.locked {
    background-color: rgb(178, 34, 34);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 15px, rgba(178, 34, 34, 0.15) 15px, rgba(178, 34, 34, 0.15) 35px);
}

.welcome-card {
    margin-bottom: 20px;
    color: rgb(244,176,4) !important;
    background-color: #2e5077 !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.bank-drawer {
    background-color: #2e5077;
}

.assets { font-size: 1rem; }

.asset-balance {
    padding-right: 5px;
    font-size: larger;
}


.faded {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

.md-icon-small {
    font-size: 18px !important;
    padding-right: 3px !important;
}

.modal-body {
    background-color: rgb(244,176,4) !important;
    color: rgb(15,46,83) !important;
}

.modal-title {
    color: rgb(15,46,83) !important;
}

.payment-header {
    color: rgb(15,46,83);
    font-size: 1rem;
}

.payment-currency {
    font-size: 1.5rem;
    line-height: 15px;
}

.leading-label-align {
    padding-top: 42px;
    padding-bottom: 50px;
}

.verbatim-underlined {
    font-size: 1rem;
    border-bottom: 1px solid rgba(15,46,83,0.5);
    color: rgb(15, 46, 83);
}

.ledger-nano-s {
    color: rgb(46, 80, 119);
    font-family: "Ledger Font";
    font-size: 40px;
}

.ledger-nano-s::before { content: "\e900"; }

.date-picker { border-bottom: 1px solid rgba(15,46,83,0.4) !important; }

.header-icon > span { font-size: 2rem; }

.header-icon > i { font-size: 2rem !important; }

.small-icon > i { font-size: 1rem !important; }

.balance {
    font-size: 2.3rem;
    background: linear-gradient(to right, rgb(30,87,153)  0%, rgb(15,46,83) 100%);
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.balance-text {
    background: linear-gradient(to right, rgb(30,87,153)  0%, rgb(15,46,83) 100%);
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    /* text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); */
}

.currency-glyph {
    font-size: 1.5rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.currency-iso { font-size: 0.75rem; }

.table-row-primary {
    border-bottom: 1px solid rgba(15,46,83,0.3) !important;
}

.table-row-primary:last-child {
    border-bottom: none !important;
    border-top: none !important;
}

.pay-to-the-order-of {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: rgb(15,46,83);
    opacity: 0.8;
}

.currency-glyph {
    margin-right: 10px;
    font-size: 24px;
    color: rgb(15,46,83);
    opacity: 0.8;
}

.padlock-icon {
    padding-top: 3px;
}

.memo-for {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: rgb(15,46,83);
    opacity: 0.8;
}

.custom-memo {
    margin-top: 10px;
}

.sender-heading {
    font-size: 12px;
    color: rgb(15,46,83);
    opacity: 0.3;
    margin-left: 10px;
}

.ledger-display {
    margin-right: 25%;
    margin-left: 25%;
}

.ledger-display-item {
    margin: 2px 0px;
    border: 1px solid rgba(15,46,83,0.3);
    border-radius: 2px;
    padding: 1px 5px;
    color: rgba(15,46,83,0.8);
}

.tuple-secondary {
    margin: 2px 0px;
    border: 1px solid rgba(246, 190, 49, 0.3);
    border-radius: 2px;
    padding: 1px 5px;
    color: rgba(246, 190, 49, 0.75);
}
