.account {
    margin: 20px;
    color: rgb(15,46,83) !important;
    background-color: rgb(244,176,4) !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.welcome-card {
    margin: 20px;
    color: rgb(15,46,83) !important;
    background-color: #eceff1 !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.emphasize {
    color: rgb(15,46,83);
    font-size: 1rem;
}

.bigger-emphasize {
    font-size: 1.4rem;
    color: rgb(15,46,83);
}

.balance {
    font-size: 2rem;
}

.other-assets {
    font-size: 1rem;
}

.other-asset-balance {
    padding-right: 5px;
    font-size: larger;
}
.other-asset-code {
    font-size: smaller;
}

.faded {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

.md-icon-small {
    font-size: 18px !important;
    padding-right: 3px !important;
}

.modal-body {
    background-color: rgb(244,176,4) !important;
    color: rgb(15,46,83) !important;
    /* max-height: 60vh !important;
    min-height: 60vh !important; */
}

.modal-title {
    color: rgb(15,46,83) !important;
}


.payment-header {
    color: rgb(15,46,83);
    font-size: 1rem;
}

.payment-currency {
    font-size: 1.5rem;
    line-height: 15px;
}

.payment-card {
    padding: 0 0.7rem;
    display: block;
    position: relative;
    margin: 20px;
    color: rgb(15,46,83) !important;
    background-color: #eceff1 !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    /* border-top:10px double rgba(244,176,4,0.7);
    border-right:10px double rgba(244,176,4,0.7);
    border-bottom:10px double rgba(244,176,4,0.7);
    border-left:10px double rgba(244,176,4,0.7);
    border-width:10px 10px 10px 10px;
    border-style:double double double double;
    border-color:rgba(244,176,4,0.7) rgba(244,176,4,0.7) rgba(244,176,4,0.7) rgba(244,176,4,0.7); */
}
.payment-card::after {
    content: "";
    /* background: url('/img/sf.svg'); */
    background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #999 78%),
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
        #444;
    background-size: 4px 10px;

    opacity: 0.12;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
}

.leading-label-align {
    padding-top: 42px;
    padding-bottom: 50px;
}

.verbatim-underlined {
    font-size: 1rem;
    border-bottom: 1px solid rgba(15,46,83,0.5);
}

.f-e-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.f-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.f-s {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.f-c {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.f-b {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.f-b-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.bottom {
    align-items: flex-end;
}

.ledger-nano-s {
    color: #1b5e20;
    display: block;
    font-family: "Ledger Font";
    font-size: 3.5rem;
    transform: rotate(90deg);
    transform-origin: 17px 21px;
}

.ledger-nano-s::before {
    content: "\e900";
}

.micro {
    font-size: 11px;
    color: rgba(15,46,83,0.7);
}

.date-picker {
    border-bottom: 1px solid rgba(15,46,83,0.4);
}

.green {
    color: #1b5e20;
}

.red {
    color: #d32f2f;
}

.bg-green {
    display: inline-block;
    background-color: rgba(34,139,34,0.55);
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 2px 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px 10px;
}

.fade {
    opacity: 0.8;
}

.fade-strong {
    opacity: 0.6;
}

.fade-extreme {
    opacity: 0.3;
}

.transparent {
    opacity: 0;
}

.bigger {
    font-size: 1.3rem;
}

.header-icon > span {
    font-size: 2rem;
}

.header-icon > i {
    font-size: 2rem !important;
}

.small-icon > i {
    font-size: 1rem !important;
}

.currency-glyph {
    font-size: 1.5rem;
}

.currency-iso {
    font-size: 0.75rem;
}
