.faded-image.cash {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(212, 228, 188, 0.4);
    border-bottom: 1px solid rgba(212, 228, 188, 0.4);
    background-color: rgba(244, 176, 4, 0.2);
    opacity: 1;
    padding-top: 4px;
    padding-bottom: 4px;
}

.faded-image.cash:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("/img/money01.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.faded-image.cash:hover {
    transition: background-color 1s ease-in-out;
    background-color: rgba(244, 176, 4, 0.2);
}

.faded-image.cash:not(:hover) {
    transition: background-color 1s ease-in-out;
    background-color: unset;
}

.hero {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 2px;
    position: relative;
    text-shadow: 0px 0px 5px rgb(15, 46, 83);
}

.hero .title {
    font-size: 2.5rem;
    color: rgb(255, 199, 59);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}

.hero .subtitle {
    padding-top: 5px;
    padding-bottom: 1rem;
    color: rgb(212, 228, 188);
    font-size: 1.1rem;
    text-shadow: 0px 0px 30px rgba(212, 228, 188, 0.6);
}

.mui-text-input { margin-top: -0.8rem; }

.panel-title {
    font-size: 1.2em;
    color: rgb(212, 228, 188);
    text-align: center;
    margin-bottom: 16px;
    text-shadow: 0px 0px 60px rgba(212, 228, 188, 0.8);
}

.title-small {
    margin-bottom: 16px;
    line-height: 1.4em;
    vertical-align: middle;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    font-size: 1.3rem;
    text-align: left;
}

.col-header {
    font-size: 1.4rem;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    color: rgb(255, 199, 59);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}

.col-item {
    font-size: 1rem;
    color: rgb(212, 228, 188);
    text-align: left;
    line-height: 2rem;
    vertical-align: middle;
    text-shadow: 0px 0px 30px rgba(212, 228, 188, 0.6);
}

.panel-logo-container {
    height: 72px;
    line-height: 72px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 16px;
}

.panel-logo {
    display: inline-block;
    vertical-align: middle;
}

.img-logo {
    display: block;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.6));
}

.navy {
    color: rgb(15, 46, 83);
    font-size: 1.2rem;
}

.heading-svg-icon {
    fill: rgb(248, 255, 237) !important;
    margin-left: 16px;
    margin-right: 10px;
    margin-bottom: -0.3rem;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.8));
}

.svg-success {
    fill: rgb(103,160,105) !important;
}

.svg-error {
    fill: rgb(185,54,54) !important;
}

.svg-warning {
    fill: rgb(246, 190, 49) !important;
}

.svg-margin {
    margin-right: 0.5rem;
    margin-top: -0.3rem;
}

.svg-tiny {
    height: 21px !important;
}
