div.footer {
    background: none repeat scroll 0 0 rgb(15,46,83);
    border-top: 1px solid rgba(212,228,188,0.4);
    padding: 8px 8px 8px 8px;
    font-size: 0.8em;
    color: rgba(212,228,188,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

span.stellar-style {
    font-weight: bold;
}
