/* --------- paddings / margins --------- */

.p-b { padding-bottom: 1rem !important; }

.p-b:last-child { padding-bottom: 0rem; }

.p-b-small { padding-bottom: 5px; }

.p-b-nano { padding-bottom: 2px; }

div.p-b-small-block {
    padding-bottom: 5px;
    display: inline-block;
}

div.p-b-small-block::after {
    content: '.';
    visibility: hidden;
}

.p-b-large { padding-bottom: 3rem; }

.p-b-x-large { padding-bottom: 5rem; }

.p-t { padding-top: 1rem; }

.p-t-nano { padding-top: 2px; }

.p-t-small { padding-top: 5px; }

.p-t-medium { padding-top: 2rem; }

.p-t-large { padding-top: 3rem; }

.p-t-x-large { padding-top: 5rem; }

.p-l { padding-left: 1rem; }

.p-l-large { padding-left: 3rem; }

.p-l-medium {padding-left: 0.4rem; }

.p-l-small { padding-left: 5px; }

.p-r { padding-right: 1rem; }

.p-r-small { padding-right: 0.5rem; }

.p-r-tiny { padding-right: 0.3em; }

.p-r-large { padding-right: 3rem; }

.m-t { margin-top: 1rem; }

.m-t-medium { margin-top: 2rem; }

.m-t-small { padding-top: 3px; }

.m-t-large { margin-top: 3rem; }

.m-t-x-large {margin-top: 5rem; }

.m-b-large { margin-bottom: 22px; }

.m-b { margin-bottom: 1rem; }

.m-b-medium { margin-bottom: 8px; }

.m-b-small { margin-bottom: 3px; }

.m-l-small { margin-left: 3px; }

/* --------- paddings / margins --------- */




/* --------- fonts / sizes --------- */

.micro-font { font-size: 11px; }

.pico-font { font-size: 9px; }

.small-caps { font-variant: small-caps; }

.nano {
    font-size: 8px;
    font-weight: 400;
}

.tiny {
    font-size: 0.625rem;
    font-weight: 400;
}

.small {
    font-size: 12px;
    font-weight: 400;
}

.smaller {
    font-size: 12px;
    font-weight: 600;
}

.micro {
    font-size: 11px;
    color: rgba(15, 46, 83, 0.7);
}

.emphasize {
    color: rgb(15, 46, 83);
    font-size: 1rem;
}

.bigger-emphasize {
    font-size: 1.4rem;
    color: rgb(15, 46, 83);
}

.bigger { font-size: 1.3rem !important; }

.text-4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.text-3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

/* --------- fonts / sizes --------- */




/* --------- links / colors --------- */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

a.active {
    color: rgba(244, 176, 4, 0.9);
    font-weight: bold;
}

.link {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

strong { color: rgb(212, 228, 188); }

.blue { color: rgb(46, 80, 119); }

.error { color: rgb(178, 34, 34); }

.green { color: rgb(34, 139, 34); }

.red { color: rgb(211, 47, 47); }

.yellow { color: #c89104; }

.yellow-light { color: rgb(246, 190, 49); }

.fade { opacity: 0.8; }

.fade-strong { opacity: 0.6; }

.fade-extreme { opacity: 0.3; }

.transparent { opacity: 0; }

.text-primary { color: rgb(15, 46, 83) !important; }

.text-secondary { color: rgb(244, 176, 4) !important; }

/* --------- links / colors --------- */




/* --------- positioning / alignment --------- */

.flex-centered {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-column {
    width: 48%;
    margin: 0px 5px 0px 5px;
}

.f-e-col {
    display: flex;
    flex-direction: column;
}

.f-e-col-e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.f-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.f-s {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.f-c {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.f-b {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.f-b-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f-b-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.f-b-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.container {
    position: relative;
    padding: 1rem;
}

.centered { text-align: center; }

.center { justify-content: center; }

.blockcenter { margin: 0 auto; }

.bottom { align-items: flex-end; }

/* --------- positioning / alignment --------- */




/* --------- badges --------- */

div.badge-error, div.badge-success, div.badge-primary {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    color: rgba(255, 255, 255, 0.8);
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    opacity: 0.85;
    border: 1px solid rgba(248, 221, 153, 0.2);
}

div.badge-error { background-color: rgba(178, 34, 34, 0.9); }

div.badge-success { background-color: rgba(27, 94, 32, 1.0); }

div.badge-primary { background-color: rgba(15, 46, 83, 0.75); }

.badge-pending {
    background-color: rgba(15, 46, 83, 0.75);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
}

span.red-badge {
    display: inline-block;
    font-size: 0.7rem;
    background-color: rgba(178, 34, 34, 0.8);
    color: rgba(244, 176, 4, 1);
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: bold;
}

.you-badge::after {
    content: "YOU";
    background-color: rgba(178, 34, 34, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    left: 1px;
    top: -11px;
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    opacity: 0.8
}

.lcars-label-badge::after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.95);
    font-weight: 600;
    position: relative;
    left: 6px;
    top: -3px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 6px;
    border-radius: 3px;
    opacity: 0.8
}

.unverified::after {
    content: "NOT VERIFIED";
    background-color: rgba(178, 34, 34, 0.8);
}

.verified::after {
    content: "VERIFIED";
    background-color: rgba(27, 94, 32, 1.0);
}

/* --------- badges --------- */




/* --------- misc --------- */

.tabular-nums { font-variant-numeric: tabular-nums; }

.cursor-pointer { cursor: pointer; }

.outline {
    border: 2px solid rgba(244, 176, 4, 0.55);
    border-radius: 4px;
    padding: 8px;
}

.border-primary {
    border: 1px solid rgba(15, 46, 83, 0.6);
    border-radius: 3px;
    padding: 0.3rem;
}


.glass {
	position: relative;
	display: inline-block;
    padding: 3px 5px;
	background-image: linear-gradient(rgba(84, 94, 105, 0.4),rgba(156, 113, 3, 0.8));
}


.glass:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 1px);
    height: calc(100% - 5px);
    filter: blur(3px);
    opacity: 0.6;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1));
}

.glass-text {
    opacity: 0.8;
    font-weight: 600;
    color: rgb(230, 249, 255);
    font-size: 0.75rem;
}


.border-error {
    border: 1px solid rgba(124, 29, 29, 0.6);
    border-radius: 3px;
    padding: 0.3rem;
}


.glass-error {
	position: relative;
	display: inline-block;
    padding: 3px 5px;
	background-image: linear-gradient(rgb(211, 47, 47), rgba(167, 38, 38, 0.9));
}


.glass-error:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 1px);
    height: calc(100% - 5px);
    filter: blur(3px);
    opacity: 0.5;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1));
}

.glass-error-text {
    opacity: 0.8;
    font-weight: 600;
    color: rgb(255, 230, 230);
    font-size: 0.75rem;
}

.outline-error {
    border: 1px solid rgb(211, 47, 47);
    border-radius: 3px;
    padding: 10px;
}

.announcement-top-first {
    position: static;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 1;
    background: #aeea00;
    color: #3e2723;
    padding: 5px;
    font-size: 1rem;
}

.alert-message {
    padding: 2px 0px 2px 0px;
    font-size: 1rem;
    font-variant: small-caps;
    background: rgba(170, 22, 22, 0.8);
    color: rgba(244, 176, 4, 1.0);
    text-align: center;
    line-height: 1.5rem;
}

.alert-message-flat {
    padding: 2px;
    font-variant: small-caps;
    background: rgba(170, 22, 22, 0.8);
    color: rgba(244, 176, 4, 1.0);
}

.placeholder-1rem {
    display: inline-block;
    min-height: 0.91rem;
}

.placeholder-tiny {
    display: inline-block;
    min-height: 11px;
}

.no-margin {
    margin-bottom: -10px !important;
}

/* --------- misc --------- */

/* -------- colors -------- */

.color-primary {
    color: rgba(15, 46, 83, 0.95);
}


.swipeable-tab-container {
    margin: 40px 60px 0px 60px;
}

.status-message-area {
    margin: 1rem 2rem;
    min-height: 3rem;
    max-height: 3rem;
}
