.account-title { font-size: 1rem; }

.account-subtitle { font-size: 0.8rem; }

.gravatar {
    padding-top: 20px;
    margin-bottom: 12px;
}

.image {
    border: 2px solid rgba(244,176,4,0.9);
    border-radius: 3px;
}

.tab-content { padding: 1rem; }

.account-radio-group {
    padding: 10px;
    width: 100%;
}

.revers {
    padding-left: 25px;
    padding-bottom: 35px;
    background: rgb(15,46,83);
    border-radius: 3px;
}

.tab-content-headline {
    font-size: 1.5rem;
    font-weight: 400;
}

.bg-green {
    display: inline-block;
    background-color: rgba(34,139,34,0.55);
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 2px 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px 0px;
}

.bordered {
    border: 1px solid rgb(15,46,83);
    border-radius: 3px;
    padding: 1rem;
}
