.account-title {
    font-size: 1rem;
}

.account-subtitle {
    font-size: 0.8rem !important;
    color: rgba(244,176,4,0.75) !important;
}

.gravatar {
    padding-top: 20px;
    margin-bottom: 12px;
}

.image {
    border: 2px solid rgba(244,176,4,0.9);
    border-radius: 3px;
}

.tab-content {
    padding: 1rem;
}

.account-radio-group {
    padding: 10px;
    width: 100%;
}

.revers {
    padding-left: 25px;
    padding-bottom: 35px;
    background: rgb(15,46,83);
    border-radius: 3px;
}

.text-large {
    font-size: 1.5rem;
}

.text-normal {
    font-size: 1rem;
}

.text-primary {
    color: rgb(15,46,83);
}

.badge-blue {
    padding:2px 5px;
    background: rgba(15,46,83,0.8);
    border-radius: 3px;
    color: rgba(244,176,4,0.9);
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
}