.account-title { font-size: 1rem; }

.account-subtitle { font-size: 0.8rem; }

.gravatar {
    padding-top: 20px;
    margin-bottom: 12px;
}

.image {
    border: 2px solid rgba(244,176,4,0.9);
    border-radius: 3px;
}

.tab-content { padding: 1rem; }

.account-radio-group {
    padding: 10px;
    width: 100%;
}

.revers {
    padding-left: 25px;
    padding-bottom: 35px;
    background: rgb(15,46,83);
    border-radius: 3px;
}

.tab-content-headline {
    font-size: 1.5rem;
    font-weight: 400;
}

.bg-green {
    display: inline-block;
    background-color: rgba(34,139,34,0.55);
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 2px 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px 0px;
}

.tag-success {
    display: inline-block;
    background-color: rgba(34,139,34,0.55);
    padding: 2px 6px;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px 0px;
}

.bordered {
    border: 1px solid rgb(15,46,83);
    border-radius: 3px;
    padding: 1rem;
}

.border-around {
    border: 1px solid rgb(15,46,83);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.gradiented {
    background: linear-gradient(90deg, rgb(244, 176, 4) 0%, rgb(138, 151, 175) 100%);
}

.gradiented-warning {
    background: linear-gradient(90deg, rgb(246, 190, 49) 0%, rgba(178, 34, 34,0.5) 100%);
}

.coin {
    display: inline-block;
    background-color: rgb(244, 176, 4);
    color: rgb(15,46,83);
    padding: 2px 8px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 5px 10px;
}

.paper {
    background-color: #f5b71a;
    padding: 1.1rem;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.compact {
    line-height: 0.95rem !important;
}
