@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/iconfont/MaterialIcons-Regular.eot");
    src: local("Material Icons"),
        local("MaterialIcons-Regular"),
        url("./fonts/iconfont/MaterialIcons-Regular.woff2") format("woff2"),
        url("./fonts/iconfont/MaterialIcons-Regular.woff") format("woff"),
        url("./fonts/iconfont/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ledger Font";
    font-style: normal;
    font-weight: 400;
    src: local("Ledger Font"),
        url("./fonts/ledger/ledger-font.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(15,46,83);
    color: rgb(244,176,4);
    height: 100%;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 21px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: text-bottom;
    padding-right: 10px;
}
