@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/iconfont/MaterialIcons-Regular.eot");
    src: local("Material Icons"),
        local("MaterialIcons-Regular"),
        url("./fonts/iconfont/MaterialIcons-Regular.woff2") format("woff2"),
        url("./fonts/iconfont/MaterialIcons-Regular.woff") format("woff"),
        url("./fonts/iconfont/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ledger Font";
    font-style: normal;
    font-weight: 400;
    src: local("Ledger Font"),
        url("./fonts/ledger/ledger-font.ttf") format("truetype");
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(15, 46, 83);
    color: rgb(244, 176, 4);
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: text-bottom;
    padding-right: 10px;
}

a:focus {
    outline: none;
}


.flex-box-row {
    display: flex;
    flex-direction: row;
}

.flex-box-col {
    display: flex;
    flex-direction: column;
}

.items-flex-start {
    align-items: flex-start;
}

.items-flex-end {
    align-items: flex-end;
}

.items-centered {
    align-items: center;
}

.content-flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.washed-out-strong {
    opacity: 0.35;
}

.washed-out {
    opacity: 0.8;
}

.pattern-secondary {
    background-image:
		linear-gradient(to right bottom, rgba(255,255,255,0) 8px, rgb(246, 190, 49) 9px, rgba(255,255,255,0) 10px),
        linear-gradient(to left bottom, rgba(255,255,255,0) 8px, rgb(246, 190, 49) 9px, rgba(255,255,255,0) 10px);
	background-repeat: repeat;
	background-size: 12px 14px, 12px 14px, 12px 11px;
    background-position: 0 0, 0 0, 0 20px;
}

.pattern-primary {
    background-image:
		linear-gradient(to right bottom, rgba(255,255,255,0) 8px, rgba(36, 65, 98, 0.05) 9px, rgba(255,255,255,0) 10px),
        linear-gradient(to left bottom, rgba(255,255,255,0) 8px, rgba(36, 65, 98, 0.05) 9px, rgba(255,255,255,0) 10px);
	background-repeat: repeat;
	background-size: 12px 14px, 12px 14px, 12px 11px;
    background-position: 0 0, 0 0, 0 20px;
}

.bg-contact {
    background: linear-gradient(90deg, rgb(244, 176, 4) 0%, rgb(246, 190, 49) 100%);
}

.bg-ext-contact {
    background: linear-gradient(90deg, rgb(244, 176, 4) 0%, rgb(138, 151, 175) 100%);
}