.account-title {
  font-size: 1rem;
}

.account-subtitle {
  font-size: 0.8rem !important;
  color: rgba(244,176,4,0.75) !important;
}

.gravatar {
  padding-top: 20px;
  margin-bottom: 12px;
}

.image {
  border: 2px solid rgba(244,176,4,0.9);
  border-radius: 3px;
}

.tab-content {
  padding: 1rem;
}

.account-radio-group {
  padding: 10px;
  width: 100%;
}
