.account {
  margin: 20px;
  color: rgb(15,46,83) !important;
  background-color: rgb(244,176,4) !important;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.welcome-card {
  margin: 20px;
  color: rgb(15,46,83) !important;
  background-color: #eceff1 !important;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.bigger-emphasize {
  font-size: 1.4rem;
  color: rgb(15,46,83);
}

.balance {
  font-size: 2rem;
}

.other-assets {
  font-size: 1rem;
}

.other-asset-balance {
  padding-right: 5px;
  font-size: larger;
}
.other-asset-code {
  font-size: smaller;
}

.faded {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.md-icon-small {
  font-size: 18px !important;
  padding-right: 3px !important;
}

.modal-body {
  background-color: rgb(244,176,4) !important;
  color: rgb(15,46,83) !important;
}

.modal-title {
  color: rgb(15,46,83) !important;
}
