.account {
  margin: 20px;
  color: rgb(15,46,83) !important;
  background-color: rgb(244,176,4) !important;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.balance {
  font-size: 2rem;
}

.other-assets {
  font-size: 1.5rem;
}

.faded {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}
