div.content {
  padding-top: 84px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
