.loading-modal-background {
    position: fixed;
    opacity: 0.7;
    background-color: rgb(15,46,83);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
}

.loading-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(15,46,83);
    z-index: 1000;
    width: 300px;
    height: 200px;
    position: fixed;
    margin: 0 auto;
    top: 25%;
    left:-webkit-calc(50% - 150px);
    left:-moz-calc(50% - 150px);
    left:calc(50% - 150px);
    border: 1px solid rgba(244,176,4,0.6);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding-bottom: 5px;
}

.loading-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 5px;
    background: rgb(244,176,4);
    color: rgb(15,46,83);
}

.loading-modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.material-icons.badge {
    font-size: 2.45rem !important;
}
