.App {
  font-size: 0.95rem;
  color: #455A64;
}

.App-title {
  text-align: center;
  font-size: 1.5rem;
}

.App-content {
  text-align: center;
  padding: 1rem;
  color: rgb(244,176,4);
}

.App-navbar {
  background-color: rgb(244,176,4) !important;
  font-family: 'Roboto-Bold' !important;
}

.App-navbar h1 {
  color: rgb(15,46,83) !important;
  letter-spacing: 1px !important;
}

.App-intro {
  font-size: 0.85rem;
}

.App-instructions {
  padding-top: 0.9rem;
  font-size: 0.65rem;
  display: flex;
  justify-content: space-around;
  text-align: justify;
}
