@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto'),
       url('./fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-Italic'),
       url('./fonts/Roboto-Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-Bold'),
       url('./fonts/Roboto-Bold.ttf') format('truetype')
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15,46,83);
  color: rgb(244,176,4);
  height: 100%;
}

.material-icons {
  font-size: 21px !important;
  vertical-align: text-bottom;
  padding-right: 10px;
}

div.flex-centered {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* i {
  font-family: 'Roboto-Italic', sans-serif;
}

b {
  font-family: 'Roboto-Bold', sans-serif;
}

.p-t {
  padding-top: 1rem;
}

.p-t-large {
  padding-top: 2rem;
}

.spinner-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
