@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto'),
       url('./fonts/Roboto-Thin.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-Italic'),
       url('./fonts/Roboto-ThinItalic.ttf') format('truetype')
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

i {
  font-family: 'Roboto-Italic', sans-serif;
}
