@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto/roboto-v18-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
       url('./fonts/roboto/roboto-v18-latin-regular.woff') format('woff'),
       url('./fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'),
       url('./fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/iconfont/MaterialIcons-Regular.eot');
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('./fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('./fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15,46,83);
  color: rgb(244,176,4);
  height: 100%;
}

.material-icons {
  font-size: 21px !important;
  vertical-align: text-bottom;
  padding-right: 10px;
}

div.flex-centered {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.p-b-small {
  padding-bottom: 5px;
}

.outline {
  border: 1px solid rgba(244,176,4,0.75);
  border-radius: 3px;
  padding: 10px;
}

.p-l {
  padding-left: 1rem;
}

.p-r {
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

strong {
  color: rgb(212,228,188);
}
