.menu-item { color: rgba(244, 176, 4, 0.5); }

.menu-item:hover { background-color: rgba(244, 176, 4, 0.15); }

.menu-item {
    display: block;
    line-height: 48px;
    min-height: 48px;
    white-space: nowrap;
    padding-left: 10px;
}
