.navbar {
    background-color: #F4B004 !important; /* amber rgb(244,176,4) */
    z-index: 10001;
}

.navbar h1 {
    color: #0F2E53 !important; /* navy rgb(15,46,83) */
}

.navbar svg {
    fill: rgba(15,46,83,0.45) !important;
}

.menu-item {
    color: rgba(244,176,4,0.5);
}

a {
    text-decoration: none;
}

a.active {
    color: rgba(244,176,4,0.9);
    font-weight: bold;
}

.menu-item:hover {
    background-color: rgba(244,176,4,0.15);
}

.menu-item {
    display: block;
    line-height: 48px;
    min-height: 48px;
    white-space: nowrap;
    padding-left: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-home-domain {
    font-variant: small-caps;
}
